.nav-s {
    border-bottom: 1.5px solid;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-color: #1c327b;
    background-color: #28356f;
}

.nav-font {
    color: #ffffff;
}

.tr-card-font {
    color: #4f4bb6;
}

.h:hover {
    color: #587fa7;
}

.ul-nav {
    padding-top: 7px;
    margin-left: 15px;
    gap: 17px;
}

.carousel-item {
    border: 1px solid;
    border-radius: 8px;
    border-color: #d0d0d0;
}

.text {
    font-size: 95%;
    color: #2a4060;
}

.text-background {
    padding-left: 20px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 40px;
    margin: 10px;
    background-color: #28356f;
    border-radius: 8px;
}

.nav-link {
    font-size: 90%;
    padding-bottom: 3px;
    padding-top: 2px;
}

.nav-btn {
    border-radius: 6px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 6px;
    padding-right: 6px;
    border: 1px solid;
    border-color: #ffffff;
    background-color: #28356f;
    color: #fafafa;
}

.nav-btn:hover {
    border-radius: 6px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 6px;
    padding-right: 6px;
    border: 2px solid;
    border-color: #ffffff;
    background-color: #28356f;
    color: #ffffff;
    ;
}

.nav-btn-xl {
    width: 100px;
    border-radius: 6px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 6px;
    padding-right: 6px;
    border: 1px solid;
    border-color: #ffffff;
    background-color: #28356f;
    color: #ffffff;
}

.nav-btn-xl:hover {
    border-radius: 6px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 6px;
    padding-right: 6px;
    border: 2px solid;
    background-color:#28356f;
    color: #ffffff;
}

.my-btn {
    border: 1px solid;
    border-radius: 5px;
    border-color: #28356f;
    background-color: #ffffff;
    color: #28356f;
}

.my-btn:hover {
    border: 1px solid;
    border-radius: 5px;
    border-color: #4f4bb6;
    background-color: #3F5987;
    color: #ffffff;
}

.nav-rigth {
    margin-left: 1080px;
}

.main-link {
    font-size: 90%;
    padding-bottom: 2px;
    padding-top: 2px;
    background-color: #040c9e;
    border-bottom: 2px solid;
    border-bottom-color: #635edf;
    color: #efefef;
    border-radius: 5px;
}

.thumbnail {
    position: relative;
}


.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}

.iimg {
    width: 100%;
    position: relative;
}


.pp {
    position: absolute;
    font-size: 1em;
    top: 100px;
}


.treepage {
    position: absolute;
    width: 100%;
    height: 1200px;
}

.treepage-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#treepagebg {
    background-image: url("img/3.png");
}

.treepagecontent {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.treepagetext {
    margin-top: 100px;
}

.treepagetext p {
    margin-top: 20px;
    color: #000;
    font-size: 20px;
    line-height: 10px;
}

.treepagebtn {
    margin-top: 450px;
    font-size: 25px;
}

.title {
    color: white;
    text-shadow: 1px 2px 2px black, 0 0 25px blue, 0 0 5px blue;
    text-align: center;

}

div.galeria {
    margin: 10px 20px;
    box-shadow: 0 4px 8px 0 lightskyblue, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float: left;
    width: 335px;

}

div.galeria img {
    width: 100%;
    height: auto;
}

div.galeria:hover {
    border: 1px solid lightcoral;
    transform: rotate(-3deg);
}

div.pie {
    text-align: center;
    text-shadow: 2px 2px 5px purple;
    padding: 10px;
}

.rrss {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

footer {
    padding-top: 18px;
    background-color: #28356f;
    color: #ffffff;
}

.link-footer {
    padding-top: 20px;
}

.purple-card {
    padding: 1%;
    width: 32%;
    color: #ffffff;
    background-color: #28356f;
    border-radius: 8px;
}

.purple-card-xl {
    margin-top: 100px;
    margin-right: 80px;
    padding: 1%;
    width: 32%;
    height: 461px;
    color: #ffffff;
    border: 1px solid;
    border-radius: 8px;
    background-color: #28356f;
}

.box-cont-sm {
    padding: 1%;
    width: 24%;
    height: 20%;
    color: #000000;
}

.box-cont {
    margin: 1%;
    padding: 1%;
    width: 48%;
    height: 41%;
    color: #000000;
}

.box-cont-xl {
    border: 1px solid;
    border-radius: 5px;
    border-color:#28356f;
    margin: 1%;
    padding: 3%;
    width: 68%;
    height: 41%;
    color: #000000;
}