{% load static %}
<!doctype html>
<html lang="en">
    
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
    <link rel="icon" href="{% static 'img/logo-pestaña.svg' %}">
    <!-- JQuery -->
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
    <!--Bootstrap Icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <!-- FontAwesome Kit -->
    <script src="https://kit.fontawesome.com/6ebfb7f610.js" crossorigin="anonymous"></script>
    <!-- Popperjs -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.2/dist/umd/popper.min.js"
        crossorigin="anonymous"></script>
    <!-- Tempus Dominus -->
    <script src="https://cdn.jsdelivr.net/gh/Eonasdan/tempus-dominus@master/dist/js/tempus-dominus.js"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/gh/Eonasdan/tempus-dominus@master/dist/css/tempus-dominus.css" rel="stylesheet"
        crossorigin="anonymous">

    <title>GardenStore</title>
</head>

<body>
    <header>
        <nav class="navbar nav-s navbar-expand-lg navbar-light" id="navbar">
            <a class="navbar-brand" href="{% url 'home' %}">
                <h4 class="nav-font">GardenStore</h4>
            </a>
            <!-- enlaces -->
            <div class="collapse navbar-collapse" id="opciones">
                <ul class="navbar-nav ul-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">
                            <h6 class="nav-font h">Inicio</h6>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'us'%}">
                            <h6 class="nav-font h">Nosotros</h6>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'galery' %}">
                            <h6 class="nav-font h">Galería</h6>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'weather' %}">
                            <h6 class="nav-font h">Clima</h6>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">
                            <h6 class="nav-font h"><strong>Tienda</strong></h6>
                        </a>
                    </li>
                </ul>
            </div>
            <div>
                <button type="button" class="nav-btn nav-font">Iniciar sesión</button>
            </div>
            <!--Burger button-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#opciones">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </header>
    <main class="container-fluid" style="padding-top: 20px;">
        <div class="row justify-content-center" style="padding: 1%;">
            <div class="col-4 purple-card">
                <h2 class="nav-font">Garden Store</h2>
                <p class="nav-font">
                    Somos una pequeña empresa formada por una grupo de amigos apasionados por la jardinería.
                    <br>
                    Nuestro objetivo es servir como centro de abastecimiento de recursos para todos aquellos que
                    dedican parte de su tiempo a teñir de verde
                    la gran urbe, ya sea desde el interior de sus hogares o en exteriores.
                    <br>
                    En nuestra tienda encontrarás todo lo necesario para montar y/o mantener tu jardín o huerta,
                    desde las semillas hasta infraestructura.
                </p>
            </div>
            <div class="col-7">
                <div id="carousel1" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel1" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel1" data-slide-to="1"></li>
                        <li data-target="#carousel1" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" style="border-radius: 8px;width: auto; height: 300px;">
                        <div class="carousel-item active">
                            <img class="img-fluid" src="{% static 'img/img01.svg' %}" alt="***" style="size-adjust:inherit;">
                        </div>
                        <div class="carousel-item ">
                            <img class="img-fluid" src="{% static 'img/img02.svg' %}" alt="***" style="size-adjust:inherit">
                        </div>
                        <div class="carousel-item">
                            <img class="img-fluid" src="{% static 'img/img03.svg' %}" alt="***" style="size-adjust:inherit">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carousel1" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel1" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-4" style="gap:1%">
            <div class="col-5">
                <img src="{% static 'img/contact.gif' %}" style="width: 80%;">
            </div>
            <div class="col-5 mt-4">
                <form id="registrate" class="row g-3"
                    style="border: 1px solid; border-radius:5px; border-color: #28356f; ">
                    {% csrf_token %}
                    <div class="col-12">
                        <h3 class="py-2" style="color: #28356f;">Crea tu cuenta</h3>
                        <h6 class="py-2" style="color: #28356f;">Crea una cuenta con nosotros y podrás llevar registro
                            de
                            todas <br> tus compras,
                            horas agendadas, consultas realizadas, seguimiento de proyectos, etcétera.</h6>
                    </div>
                    <div class="col-sm mb-3">
                        <input name="nombre" type="text" class="form-control" placeholder="Nombre" required readonly>
                    </div>
                    <div class="col-sm mb-3">
                        <input name="apellido" type="text" class="form-control" placeholder="Apellido" required readonly>
                    </div>
                    <div class="col-6 mb-3">
                        <input name="email" type="email" class="form-control" placeholder="Correo" required readonly>
                    </div>
                    <div class="col-6 mb-3">
                        <input name="direccion" type="text" class="form-control" placeholder="Dirección" required readonly>
                    </div>
                    <div class="col-6 mb-3">
                        <input name="fono" type="text" class="form-control" placeholder="Celular" minlength="9" required readonly>
                    </div>
                    <div class="col-4 mb-3">
                        <input name ="username" type="text" class="form-control" placeholder="Nombre de usuario" required readonly>
                    </div>
                    <div class="col-4 mb-3">
                        <input id="pass" name="password" type="password" class="form-control" placeholder="Contraseña"
                            minlength="8" required readonly>
                    </div>
                    <div class="col-4 mb-3">
                        <input id="pass2" name="password2" type="password" class="form-control"
                            placeholder="Confirme contraseña" required readonly>
                    </div>
                    <div class="col-4 mb-4">
                        <button type="submit" class="my-btn" id="register-btn" disabled>Registrarse<i class="fa-solid fa-clipboard-check" style="margin-left: 5%;">
                        </i></button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row justify-content-center mt-4" style="gap:1%">
            <div class="col-5 mt-4">
                <form class="row g-3" method="POST" action="{% url 'appointment' %}"
                    style="border: 1px solid; border-radius:5px; border-color: #28356f;">
                    {% csrf_token %}
                    <div class="col-12">
                        <h4 class="py-2">AGENDA UNA CITA</h4>
                        <h6 class="py-2">Si tienes un proyecto y no sabes como empezar, no dudes en consultarlo
                            con nosotros. <br> Asesoramos todo tipo de proyectos, sea de pequeña, mediana o a gran escala.
                        </h6>
                    </div>
                    <div class="col-sm mb-3">
                        <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre" required>
                    </div>
                    <div class="col-sm mb-3">
                        <input type="text" id="apellido" name="apellido" class="form-control" placeholder="Apellido"
                            required>
                    </div>
                    <div class="col-6 mb-3">
                        <input type="email" id="email" name="email" class="form-control" placeholder="example@example.com" required>
                    </div>
                    <div class="col-6 mb-3">
                        <input type="text" id="direccion" name="direccion" class="form-control" placeholder="Dirección"
                            required>
                    </div>
                    <div class="col-6 mb-3">
                        <input type="text" id="cel" name="fono" class="form-control" placeholder="Celular" required
                            minlength="9">
                    </div>
                    <div class="col-12 mb-3">
                        <input type="date" id="date" name="fecha" class="form-control" placeholder="Date" required/>
                    </div>
                    <div class="col-4 mb-4">
                        <button type="submit" class="my-btn" id="appointment-btn"><i
                                class="fa fa-calendar"></i></button>
                    </div>
                </form>
            </div>
            <div class="col-5 mt-4">
                <form id="get-appointment" class="row g-3 mb-2 mt-1" method="GET" action="{% url 'get-appointment' %}"
                    style="border: 1px solid; border-radius:5px; border-color: #28356f;">
                    {% csrf_token %}
                    <div class="col-12">
                        <h6 class="py-2">CONSULTAR FECHA (CON CORREO)</h6>
                    </div>
                    <div class="col-8 mb-3">
                        <input type="email" id="email1" name="email1" class="form-control" placeholder="example@example.com"
                            required>
                    </div>
                    <div class="col-4 mb-4 mt-1">
                        <button type="submit" class="my-btn" id="get-appointment-btn">
                            <i class="fa-solid fa-clipboard-question"></i>
                        </button>                    
                    </div>
                </form>
                <form id="delete-appointment" class="row g-3 mb-2" method="POST" action="{% url 'delete-appointment' %}"
                    style="border: 1px solid; border-radius:5px; border-color: #28356f;">
                    {% csrf_token %}
                    <div class="col-12">
                        <h6 class="py-2">CANCELAR FECHA (CON CORREO)</h6>
                    </div>
                    <div class="col-8 mb-3">
                        <input type="email" id="email2" name="email2" class="form-control" placeholder="example@example.com"
                            required>
                    </div>
                    <div class="col-4 mb-4 mt-1">
                        <button type="submit" class="my-btn" id="delete-appointment-btn">
                            <i class="fa-solid fa-calendar-xmark"></i>
                        </button>                    
                    </div>
                </form>
                <form id="update-appointment" class="row g-3" method="POST" action="{% url 'update-appointment' %}"
                    style="border: 1px solid; border-radius:5px; border-color: #28356f;">
                    {% csrf_token %}
                    <div class="col-12">
                        <h6 class="py-2">CAMBIAR FECHA (CON CORREO)</h6>
                    </div>
                    <div class="col-4 mb-3">
                        <input type="email" id="email3" name="email3" class="form-control" placeholder="example@example.com" required
                            minlength="9">
                    </div>
                    <div class="col-4 mb-3">
                        <input id="date" name="fecha3" type='date' class="form-control">
                    </div>
                    <div class="col-4 mb-4 mt-1">
                        <button type="submit" class="my-btn" id="update-appointment-btn">
                            <i class="fa-solid fa-file-pen"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <footer>
        <div class="row col-12" style="height:200px">
            <div class="col-lg-2">
                <img src="{% static 'img/logo.svg'%}" alt="GardenStore" Style="width: 75%; padding-left:45px">
            </div>
            <div class="col-lg-1">
                <a href="index.html" id="linkFooter"><strong>INICIO</strong></a>
            </div>
            <div class="col-lg-1">
                <strong>FUNDACIÓN</strong>
            </div>
            <div class="col-lg-1">
                <strong>TIENDA</strong>
            </div>
            <div class="col-lg-2">
                <a href="facilities.html" id="linkFooter"><strong>INSTALACIONES</strong></a>
            </div>
            <div class="col-lg-2">
                <strong>Síguenos</strong>
                <br><br>
                <div class="row">
                    <a title="facebook" href="https://www.facebook.com/" target="_blank"><img class="rrss"
                            src="{% static 'img/facebook.svg' %}" alt="facebook"></a>
                    <a title="youtube" href="https://www.youtube.com/" target="_blank"><img class="rrss"
                            src="{% static 'img/youtube.svg' %}" alt="youtube"></a>
                    <a title="instagram" href="https://www.instagram.com/" target="_blank"><img class="rrss"
                            src="{% static 'img/instagram.svg' %}" alt="instagram"></a>
                </div>
            </div>
            <div class="col-lg-3">
                <strong>Contacto</strong>
                <br><br>
                <div class="row">
                    <img src="{% static 'img/location.png'%}" alt="" width="20px" height="20px"
                        style="margin-right: 10px; margin-left: 15px;">
                    <p>Av. Esq. Blanca 501, Maipú</p>
                </div>
                <div class="row">
                    <img src="{% static 'img/fono.png'%}" alt="" width="20px" height="20px"
                        style="margin-right: 10px; margin-left: 15px;">
                    <p>275864000</p>
                </div>
                <div class="row">
                    <img src="{% static 'img/email.png'%}" alt="" width="20px" height="20px"
                        style="margin-right: 10px; margin-left: 15px;">
                    <p>consulta@gardenstore.cl</p>
                </div>
                <br><br><br>
            </div>
        </div>
        <div class="row col-12 justify-content-center">
            <p>&copy; Matias Vigo - Víctor Bastías @Copyright Derechos Reservados</p>
        </div>
    </footer>
    <script src="{% static 'js/take-appointment.js' %}"></script>
    <script src="{% static 'js/validation.js' %}"></script>
</body>

</html>